.custom-modal {
    background-color: skyblue;
    width: 600px;
    padding: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .6s ease-in-out;
    border-radius: 5px;
}